body{
    text-align: center;
    background-color: crimson;
}
h1{
    color: Black;
}
.div_1,.div_2
{
    background-color: white;
    padding:10px;
    float: none;
    border-radius: 15px;
    width: 50%;
}
.player_name1,.player_name2
{
display: inline-block;
margin-left: 10px;
margin-right: 10px;
}